// -----------------------------------------------------------------------------
// Layout mixins
// Reusable layout patterns for common UI structures
// -----------------------------------------------------------------------------

@use '../functions' as *;
@use '../../tokens/type' as *;
@use '../functions/typography' as *;
@use '../functions/units' as *;
@use 'media' as *;
@use 'text' as *;

// Hero section layout
@mixin hero-section($with-border: false) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: to-rem(32);
  color: var(--color-secondary-150);

  @if $with-border {
    padding-bottom: to-rem(45);
    border-bottom: to-rem(3) solid var(--color-neutral-400);
  }

  @include mq(null, md) {
    @if $with-border {
      padding-bottom: to-rem(24);
    }
    flex-direction: column;
    align-items: flex-start;
    gap: to-rem(24);
  }
}

// Hero title section
@mixin hero-title-section {
  display: flex;
  max-width: to-rem(1044);
  flex-direction: column;
  gap: to-rem(16);
  min-width: 0;
}

// Hero title
@mixin hero-title {
  color: var(--color-secondary-150);
  font-size: to-rem(32);
  @include line-height(tight);
  @include font-weight(black);
}

// Hero description
@mixin hero-description {
  color: var(--color-secondary-150);
  font-size: to-rem(24);
  @include line-height(relaxed);
  @include font-weight(regular);

  @include mq(null, lg) {
    font-size: to-rem(18);
    @include font-weight(semibold);
  }
}
