// -----------------------------------------------------------------------------
// Base styles
// Universal styles: reset, html/body, typography, colors, scrollbar, app layout
// -----------------------------------------------------------------------------

@use './utils/mixins' as *;
@use './utils/functions' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-background-primary, var(--color-secondary-600));
  color: var(--color-neutral-700);

  @include font-family(primary);
  @include font-weight(regular);
  @include font-size(base);
  @include line-height(relaxed);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#app {
  display: flex;
  width: 100%;
  min-height: 100svh;
  padding: to-rem(32);
  flex-direction: column;

  @include mq(null, lg) {
    padding: to-rem(24);
  }

  @include mq(null, md) {
    padding: to-rem(24) to-rem(16);
  }
}

/* System scrollbar (universal) */
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.container {
  width: 100%;
  max-width: to-rem(1312);
  margin: 0 auto;
}
