// -----------------------------------------------------------------------------
// Base styles
// Universal styles: reset, html/body, typography, colors, scrollbar, app layout
// -----------------------------------------------------------------------------

@use './utils/mixins' as *;
@use './utils/functions' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: inherit;
}

button {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-background-primary, var(--color-secondary-600));
  color: var(--color-neutral-700);

  @include font-family(primary);
  @include font-weight(regular);
  @include font-size(base);
  @include line-height(relaxed);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

#app {
  display: flex;
  width: 100%;
  min-height: 100svh;
  padding: to-rem(32);
  flex-direction: column;

  // Удалить отступы у #app, когда auth-layout является его непосредственным потомком
  &:has(> .auth-layout) {
    padding: 0 !important;
  }

  @include mq(null, lg) {
    padding: to-rem(24);
  }

  @include mq(null, md) {
    padding: to-rem(24) to-rem(16);
  }
}

.container {
  width: 100%;
  max-width: to-rem(1312);
  margin: 0 auto;
}

.scroll-visible {
  scrollbar-width: thin;
  overscroll-behavior: contain;
  overflow: auto;

  @supports selector(::-webkit-scrollbar) {
    scrollbar-width: auto;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: block !important;
    cursor: default;

    &:vertical {
      width: 11px;
    }

    &:horizontal {
      height: 11px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;

    &:vertical {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:horizontal {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &::-webkit-scrollbar-thumb {
    border: 2px solid white;
    background-color: #0000004d;
    border-radius: 8px;
    cursor: default;
  }

  &:hover::-webkit-scrollbar-thumb {
    background-color: #00000059;
  }
}

.scroll-visible-alt {
  $scrollbar-thumb-color: #0927f2;
  $scrollbar-thumb-color-active: #0719c4;

  scrollbar-width: thin;
  scrollbar-color: $scrollbar-thumb-color var(--color-neutral-400, #e8e7ff);
  overscroll-behavior: contain;
  overflow: auto;

  @supports selector(::-webkit-scrollbar) {
    scrollbar-width: auto;
  }

  &::-webkit-scrollbar {
    -webkit-appearance: none;
    display: block !important;
    cursor: default;

    &:vertical {
      width: to-rem(8);
    }

    &:horizontal {
      height: to-rem(8);
    }
  }

  &::-webkit-scrollbar-track {
    background: var(--color-neutral-400, #e8e7ff);

    &:vertical {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }

    &:horizontal {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  &::-webkit-scrollbar-thumb {
    border-radius: to-rem(4);
    background: $scrollbar-thumb-color;
    transition: background-color 0.2s ease;
    cursor: default;

    &:active {
      background: $scrollbar-thumb-color-active;
    }
  }

  &:hover::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color-active;
  }
}

.scroll-hide {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    background: transparent;
    display: none;
    width: 0;
  }
}
